body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

ul {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  height: 80vh;
}

.row {
  cursor: pointer;
  background-color: #eee;
  padding: 0.5rem;
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.row:hover {
  background-color: #efe;
}

.row.selected {
  background-color: #cfc;
}

.row span {
  vertical-align: -webkit-baseline-middle;
}